* {
	width: 100%;
}

.body {}

.header {
	width: 100%;
}

.header .awan1 img {
	margin-left: 2vw;
	margin-top: 2vh;
	width: 12vw;
	animation: marquee 20s linear infinite;
}

.header .awan img {
	margin-top: 2vh;
	width: 12vw;
}

.body .scan_img img {
	width: 28vw;
	float: right;
}

.body .text {
	margin-top: 17vh;
	color: #fff;
}

.body .text h1 {
	font-size: 38pt;
}

.body .text p {
	margin-top: -2vh;
	font-size: 40pt;
}

.footer {
	bottom: 0;
	width: 100%;
	height: 10vh;
	background-color: #fff;
}

.footer .row {
	margin: 10px 0;
}

.footer .row .speaker img {
	width: 4vw;
}

.footer .row p {
	margin-left: -3vw;
	color: #76838F;
	margin-top: 1vh;
	font-size: 20pt;
}
.spasi {
	width: 20vw;
}