<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>OneTap</title>
	<link rel="stylesheet" href="./../../public/style.css">
	<link href="./../../public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background-color: #b3d1ff;">
	<div class="body">
		<div class="header">
			<marquee loop="infinite" scrollamount="5">
				<div class="row">
					<div class="col-xs-12 awan">
						<img src="../../public/img/cloud.png" alt="" hspace="250">
						<img src="../../public/img/cloud.png" alt="" hspace="240">
						<img src="../../public/img/cloud.png" alt="" hspace="230">
						<img src="../../public/img/cloud.png" alt="" hspace="210">
						<img src="../../public/img/cloud.png" alt="" hspace="200">
						<img src="../../public/img/cloud.png" alt="" hspace="210">
						<img src="../../public/img/cloud.png" alt="" hspace="220">
						<img src="../../public/img/cloud.png" alt="" hspace="230">
						<img src="../../public/img/cloud.png" alt="" hspace="240">
						<img src="../../public/img/cloud.png" alt="" hspace="250">
					</div>
					</div>
				</div>
			</marquee>
			<marquee direction="right" loop="infinite" scrollamount="5">
				<div class="row">
					<div class="col-xs-12 awan">
						<img src="../../public/img/cloud.png" alt="" hspace="150">
						<img src="../../public/img/cloud.png" alt="" hspace="160">
						<img src="../../public/img/cloud.png" alt="" hspace="170">
						<img src="../../public/img/cloud.png" alt="" hspace="180">
						<img src="../../public/img/cloud.png" alt="" hspace="190">
						<img src="../../public/img/cloud.png" alt="" hspace="180">
						<img src="../../public/img/cloud.png" alt="" hspace="170">
						<img src="../../public/img/cloud.png" alt="" hspace="160">
						<img src="../../public/img/cloud.png" alt="" hspace="150">
						<img src="../../public/img/cloud.png" alt="" hspace="140">
					</div>
					</div>
				</div>
			</marquee>
		</div>

		<div class="body">
			<div class="row">
				<div class="col-xs-6 scan_img ">
					<img src="../../public/img/ic_scan.png" alt="">
				</div>
				<div class="col-xs-6 text">
					<h1 id="tv_tanggal">Senin, 01 Januari 2020</h1>
					<p id="tv_jam">08:30</p>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<div class="footer navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-1 speaker">
						<img src="../../public/img/ic_speaker.png" alt="">
					</div>
					<div class="col-xs-11">
						<marquee behavior="scroll"><p id="tv_pengumuman">Selamat Datang di SMKN 4 Bandung</p></marquee>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="./../../public/js/bootstrap.min.js"></script>

	<!-- Data Tables -->
	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="./../../public/js/pace.js"></script>
	<script>
		$(document).ajaxStart(function () {
			Pace.restart();
		});
	</script>

	<!-- Socket IO -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

	<!-- Backend -->
	<script src="../../controllers/MainController.js"></script>

</body>

</html>