<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Detail</title>
	<link rel="stylesheet" href="../../public/style.css">
	<link href="../../public/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="back">
			<div class="row">
				<div class="col-xs-2">
					<a href="../main/index.html">
						<p class="pull-left"><button class="btn btn-success">Kembali</button></p>
					</a>
				</div>
				<div class="col-xs-10">

				</div>
			</div>
		</div>
		<div class="card kartu2">
			<!-- card-body -->
			<div class="card-body">
				<div class="row">

					<div class="col-sm-3">
						<div class="tittle">
							<h1><b>Presensi</b></h1>
							<p>hari ini</p>
						</div>
					</div>
					<div class="col-sm-3">
						<input id="filterNama" onkeyup="filterNama()" class="search" type="text"
							placeholder="Masukan nama">
					</div>

					<div class="pull-right">
						<button id="btn_filter" class="btn btn-primary">Filter</button>
					</div>

				</div>

				<div class="table text-center table2">
					<table id="tableKehadiran" class="table table-striped">
						<thead>
							<tr>
								<th class="text-center">Nama</th>
								<th class="text-center">Kelas</th>
								<th class="text-center">Jam masuk</th>
								<th class="text-center">Status</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<!-- akhir card-body -->
		</div>
	</div>

	<script>
		function filterNama() {
			// Declare variables
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("filterNama");
			filter = input.value.toUpperCase();
			table = document.getElementById("tableKehadiran");
			tr = table.getElementsByTagName("tr");

			// Loop through all table rows, and hide those who don't match the search query
			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[0];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}
	</script>
	<script src="../../controllers/DetailController.js"></script>
</body>

</html>